



<center><a href="/products/new"> <button>Add New Product</button> </a></center><br>
<% @product.each do |product| %>

<% if product.num_stock !=0  %>


<!--CSS-->



  <div class="btn-group btn-group-xs-justified-column">
    <a href="/products/<%=product.id%>" class="thumbnail">
      <img src="assets/<%=product.img%>" > </a>
	  
	  
	  
	  <div class="btn-group btn-group-xs-justified-column" role="group">
<button type="button" class="btn btn-default"><%= link_to 'Edit',"/products/#{product.id}/edit" %> 
<button type="button" class="btn btn-default"><%= link_to 'Sold One',"/products/#{product.id}/sold",data: {confirm: 'Decrement a stock?'} %> 
<button type="button" class="btn btn-default"><%= link_to 'Add Stock',"/products/#{product.id}/add",data: {confirm: 'Add a stock?'} %> 
<button type="button" class="btn btn-default"><%= link_to 'Delete',"/products/#{product.id}/delete",data: {confirm: 'Are you Sure?'} %>

</div>

 </div>



<!--endCSS-->





<!--<td><a href="/products/<%=product.id%>/edit">Edit</a> || </td>
<td><a href="/products/<%=product.id%>/delete">Delete</a> </td>
<td><a href="/products/<%=product.id%>/sold">Sold One</a> </td> -->




<!--
<td><%= link_to 'Sold One',"/products/#{product.id}/sold",data: {confirm: 'Decrement a stock?'} %> ||</td>
<td><%= link_to 'Add Stock',"/products/#{product.id}/add",data: {confirm: 'Add a stock?'} %> ||</td>
<td><%= link_to 'Delete',"/products/#{product.id}/delete",data: {confirm: 'Are you Sure?'} %></td>

-->




<% end %>


<% end %>












